.button {
	left: 0;
	text-align: center;
}

.button a {
	background: rgb(0, 236, 197);
	/* color: white; */
}
.container-1 {
	/* background-image: linear-gradient(
		rgba(223, 223, 223, 0.575),
		rgba(143, 143, 143, 0.698)
	); */
	background-image: linear-gradient(rgb(0, 236, 197), rgb(56, 205, 251));
	border-radius: 3px;
}
